.btn-info:hover{
    background-color: rgba(247, 247, 0, 0.895);
    
}
canvas{
    animation-name:Filter;
animation-duration: 4s;
animation-iteration-count: infinite;

}
@keyframes Filter{
    from{
        box-shadow:1px 1px 30px red;
    }
    to{
        box-shadow: 1px 1px 30px cadetblue;
    }
}